<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.JobMapper">
    <select id="getJobList" resultMap="jList">
        select j.*,c.cName cname,c.address address from rec_company c,rec_job j where c.cid=j.cid
    </select>

    <select id="getJobListByQuery" resultMap="jList">
        select j.*,c.cName cname,c.address address from rec_company c inner join rec_job j on c.cid = j.cid
        <trim prefix="where" prefixOverrides="and">
            <if test="jname != null and jname != ''">
                and j.jname like CONCAT('%',#{jname},'%')
            </if>
            <if test="address != null and address != ''">
                and c.address like concat('%',#{address},'%')
            </if>
        </trim>
    </select>

    <select id="getJobById" resultMap="jList">
        select j.*,c.cName cname,c.address address from rec_company c,rec_job j where c.cid=j.cid and jid = #{jid}
    </select>

    <select id="getJobListScreen" resultMap="jList">
        select j.*,c.cName cname,c.address address from rec_company c inner join rec_job j on c.cid = j.cid
        <trim prefix="where" prefixOverrides="and">
            <if test="jname != null and jname != ''">
                and j.jname like CONCAT('%',#{jname},'%')
            </if>
            <if test="address != null and address != ''">
                and c.address like concat('%',#{address},'%')
            </if>
            <if test="screen.day > 0">
                and putDate > DATE_FORMAT(DATE_SUB(NOW(),INTERVAL #{screen.day} DAY),'%Y-%m-%d')
            </if>
            <choose>
                <when test="screen.min>0 and screen.max &lt;=50">
                    and payment>#{screen.min} and payment&lt;=#{screen.max}
                </when>
                <when test="screen.min == 50 and screen.max==-1">
                    and payment >50
                </when>
            </choose>
            <if test="screen.natureid>0">
                and natureid = #{screen.natureid}
            </if>
            <choose>
                <when test="screen.minyears >0 and screen.maxyears>0 ">
                    and yearsReq >=#{screen.minyears} and yearsReq &lt;#{screen.maxyears}
                </when>
                <when test="screen.minyears ==10 and screen.maxyears ==-1">
                    and yearsReq>#{screen.minyears}
                </when>
                <when test="screen.minyears ==0">
                    and yearsReq = 0
                </when>
            </choose>
            <if test="screen.education != null">
                and educationReq = #{screen.education}
            </if>
            <choose>
                <when test="screen.minscale > 0 and screen.maxscale >0">
                    and scale >#{screen.minscale}
                </when>
                <when test="screen.minscale >5000 and screen.maxscale ==-1">
                    and scale >5000
                </when>
            </choose>
        </trim>
    </select>



    <resultMap id="jList" type="Job">
        <result property="cname" column="cname"/>
        <result property="address" column="address"/>
    </resultMap>
</mapper>
